.container{
    display: flex;
    height: 160px;
    flex-direction: row;
    align-items: flex-start;
    border: 2px solid black;
    background-color: purple;
}
.box1, .box2, .box4{
    width: 30px;
    height: 30px;
    background-color: fuchsia;
    line-height: 20px;
}

.box3{
    width:90px;
    height:90px;
    line-height: 70px;
    background-color:chartreuse;
}

.box5{
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: darkolivegreen;
}